#phone{
    text-align: center;
    background-color: #44659A;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    color: #fff;
    padding: 5px;
    border: 1px solid #44659A;
    border-radius: 5px;
}
#contact{
    margin-right: 50px;
}
@media screen and (max-width: 767px) {
      #phone {
        height: auto;
          width: auto;
      }
    }
#name,#email,#subject,#msg{
    border: none;
    border-bottom: 1px solid #999;
}
#phone:hover{
    background-color: #fff;
    color: #44659A;
}
#nav{
    background-color: #44659A;
    border:none;
}
#nav a{
    color: #fff;
}
@media screen and (max-width: 767px) {
      #map {
        height: auto;
      }
    }
.nav img{
    width: 30px;
}
#socail{
    background-color: #44659B; 
    color: #fff;
}
.socail{
    padding-top: 20px;
}
#map{
    height: 400px;
    border: none;
    width: 100%;
    padding: 0;
}
#socail p a{
    color: #fff;
    text-decoration: none;
}
#socail p a:hover{
    color: #44659B;
    background-color: #fff;
}
.icons{
    text-align: center;
}
.icons .fa{
   padding: 10px;
    border: 1px solid black;
    border-radius: 150%;
    margin-left: 30px;
    color: #fff;
}
.nav li{
    height: 80px;
}
.nav li a{
    padding-bottom: 28px;
    padding-top: 30px;
    margin-left: 2px;
}
#myNavbar ul li a:hover{
    color: #44659B;
    background-color: #fff;
    border-top: 1px solid #44659B;
}
.icons .fa:hover{
    background-color: #fff;
    color: #44659B;
    border: none;
}
.icons .fa-facebook{
    padding: 10px 15px
}
.slider-wrapper { 
	width: 100%; 
}
.slider-wrapper img{
    width: 100%;
    height: 400px;
}
.btn-group{
    width: 50%
}
.btn{
    width: 150px
}
.btn-group a{
    border: 1px solid #999;
    background-color: #ddd;
    color:black; 
}
.btn-group a:hover{
    background-color: #44659A;
    color: #fff;
}
.btn-group a:first-child{
    width: auto;
}
.media-right img{
    height: 220px;
}
.media-right img:hover{
    background-color: black;
    border: 4px solid #44659A;
}